<div class="package-content-folder" @click="store.openFolder(id)">
    <i class="fa-solid fa-folder icon"></i>
    <div class="name">{{name}}</div>
    <div class="size">{{formattedSize}}</div>
    <div class="count">{{count}} {{count === 1 ? "content" : "contents"}}</div>
    <div v-if=editable class="action">
        <Button class="delete" :flat @button-clicked="$refs.folderDelete.showModal()">
            <i class="fa-solid fa-trash"></i>
        </Button>
    </div>
    <div v-if=!editable class="action">
        <Button :flat class="metadata-edit" @button-clicked="store.openMetadata('folder', id)">
            <i class="fa-solid fa-book-medical"></i>
        </Button>
    </div>
</div>
<dialog ref="folderDelete" class="delete-folder">
    <h1>Delete {{name}}?</h1>

    <div class="text">The folder, its metadata and all contained files and metadata will be deleted.</div>
    <div class="text">With contained external files only the reference and metadata will be lost.</div>
    <div class="text">Do you really want to delete the folder?</div>
    <form method="dialog">
        <Button class="abort-delete" @button-clicked="$refs.folderDelete.close()">Do not delete</Button>
        <Button class="confirm-delete" @button-clicked="deleteFolder(id)">
            <i class="fa-solid fa-trash"></i>
            <div>Delete folder</div>
        </Button>
    </form>
</dialog>