.package-content-folder{
    display: inline-grid;
    grid-template-columns: max-content minmax(auto, max-content) auto max-content;
    grid-template-rows: auto auto;
    grid-template-areas:
        "icon name size action"
        "icon count count action";
    justify-items: start;
    align-items: center;
    grid-gap: 0.3rem 1rem;

    border-bottom: 0.05rem solid #eeeeee;
    padding: 1rem;

    cursor:pointer
}

.package-content-folder:hover {
    color: var(--primary-color);
}

.package-content-folder.active {
    font-weight: 700;
    color: var(--primary-color);
}

.package-content-folder .name {
    grid-area: name;

    line-break: anywhere;
}

.package-content-folder .size {
    grid-area: size;

    color: #666666
}

.package-content-folder .count {
    grid-area: count;

    color: #666666
}

.package-content-folder .icon {
    grid-area: icon;
    font-size: 2rem;
    color: var(--primary-color);
}

.icon .hover-show,
.package-content-folder:hover .icon .hover-hidden {
    display: none;
    transition: display 300ms;
}

.package-content-folder:hover .icon .hover-show {
    display: inline-block;
}

.package-content-folder .action {
    grid-area: action;
}

.action .delete {
    --button-color: var(--error);
    --rgb-button-color: var(--rgb-error);
    padding: 0.5rem;
    font-size: 1.2rem;
}

.delete-folder {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    max-width: 50vw;
}

.delete-folder h1 {
    font-weight: 700;

    line-break: anywhere;
}
.delete-folder .text {
    font-size: 1.1rem;
    padding: 0.1rem 1rem;
}

.delete-folder form {
    display: flex;
    gap: 0.5rem;
    justify-content: end;

    width: 100%;
    padding-top: 1rem;
}

.delete-folder::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.delete-folder .abort-delete {
    display:flex;
    gap: 0.5rem;

    --button-color: var(--font-color);
    --rgb-button-color: var(--rgb-font-color);
}

.delete-folder .confirm-delete {
    display:flex;
    gap: 0.5rem;

    --button-color: var(--error);
    --rgb-button-color: var(--rgb-error);
}