{% for description in (metadata.description | default([], true)) %}
    {% if description.descriptionType[0] == "descriptionAbstract" %}
        <dc:description><![CDATA[{{description.textAbstract | first | safe }}]]></dc:description>
    {% elif description.descriptionType[0] == "descriptionTOC" %}
        <dc:description><![CDATA[{{description.textTOC | first | safe }}]]></dc:description>
    {% elif description.descriptionType[0] == "descriptionReadme" %}
        <dc:description><![CDATA[{{description.textReadme | first | safe }}]]></dc:description>
    {% elif description.descriptionType[0] == "descriptionCustom" %}
        <dc:description><![CDATA[{{description.textCustom | first | safe }}]]></dc:description>
    {% endif %}
{% endfor %}