<dc:record xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    {% include "title.xml.jinja" %}
    {% include "creator.xml.jinja" %}
    {% include "subject.xml.jinja" %}
    {% include "description.xml.jinja" %}
    {% include "date.xml.jinja" %}
    {% include "publishing.xml.jinja" %}
    {% include "contributor.xml.jinja" %}
    {% include "resource-type.xml.jinja" %}
    {% include "identifier.xml.jinja" %}
    {% include "datasource.xml.jinja" %}
    {% include "language.xml.jinja" %}
    {% include "rights.xml.jinja" %}
    {% include "geolocation.xml.jinja" %}
    {% include "timeframe.xml.jinja" %}
    {% include "relation.xml.jinja" %}
</dc:record>