{% for geolocation in (metadata.geolocation | default([], true)) %}
    {% if geolocation.geolocationType[0] == "geoLocationPlace" %}
        <dc:coverage>{{geolocation.geoLocationPlace | first}}</dc:coverage>
    {% elif geolocation.geolocationType[0] == "geoLocationPoint" %}
        <dc:coverage>{{geolocation.geoLocationPointLatitude | first}}°N; {{geolocation.geoLocationPointLongitude | first}}°E;</dc:coverage>
    {% elif geolocation.geolocationType[0] == "geoLocationPolygon" %}
        <dc:coverage>
            {% for point in geolocation.geoLocationPolygonPoint %}
                {{point.geoLocationPointLatitude | first}}°N; {{point.geoLocationPointLongitude | first}}°E;
            {% endfor %}
        </dc:coverage>
    {% endif %}
{% endfor %}