.button-component {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.1rem solid var(--button-color, var(--primary-color));
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;

    cursor: pointer;
    background-color: #fff;
    font-size: 1.1rem;
    color: var(--button-color, var(--primary-color));
    white-space: nowrap;
}

.button-component.filled{
    background-color: var(--button-color, var(--primary-color));
    color: #fff;
}

.button-component:hover,
.button-component:focus,
.button-component:active {
    box-shadow: 0 0.25rem 1rem 0px rgba(var(--rgb-button-color, var(--rgb-primary-color)), 0.15);
    transition: all 200ms;
}

.button-component:active {
    filter: brightness(1.1);
    transition: all 200ms;
}

.button-component[disabled] {
    cursor:not-allowed;

    box-shadow: none;

    opacity: 0.5;
}

.button-component.flat {
    border: none;
    box-shadow: none;
}