<div class="package-content">
    <PackageHeader
    @back="$emit('back')">
        <slot></slot>
    </PackageHeader>
    <div v-if="!store.loading.content" class="files" >
        <PackageCheck 
            :package="store.package.id">
        </PackageCheck>
        <PackageContentFolder
            v-for="folder in store.folders()"
            v-bind="folder"
            @metadata="$emit('metadata', $event)"
        ></PackageContentFolder>
        <PackageContentDocument
            v-for="document in store.content.documents"
            v-bind="document"
            @metadata="$emit('metadata', $event)"
        ></PackageContentDocument>
        <div class="no-data-placeholder" v-if="!store.content.documents.length && !store.content.folders.length">
            <span>No data added yet</span>
            <VideoDialog title="How to add files to a project" video="HowToEdit_FileUpload">
                <i class="fa-solid fa-circle-question question-button"></i>
            </VideoDialog>
        </div>
    </div>
    <div class="loading" v-else></div>
</div>