.navbar {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    width: 100%;
    flex: 0 0 0;

    background-color: var(--primary-color);
}

.navbar .right-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    flex: 1 1 auto;
    padding-right: 1rem;
}

.navbar .logout {
    background-color: var(--on-primary-color);

    color: var(--primary-color);
}