beautifulsoup4==4.12.3
dataclasses-json==0.6.6
Flask-Session==0.8.0
importlib_resources==6.4.0
pipdeptree==2.20.0
PyJWT==2.8.0
python-dotenv==1.0.1
PyYAML==6.0.1
requests_oauth2client==1.5.3
simple-term-menu==1.6.4
xmlschema==3.3.1
uWSGI==2.0.28; sys_platform != "win32"
windows-curses; sys_platform == "win32"
zipstream-ng==1.9.0
couchdb==1.2