.sources-list {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: minmax(0, 1fr);

    overflow-y: hidden;
    padding: 0 0 1rem 0;
}


.sources-list .button-row {
    display: grid;
    grid-template-rows: max-content;
    gap: 0.5rem;
    align-items: end;
    justify-items: stretch;
    
    padding: 0 1rem;
    align-self: end;
}
