<App>
    <main class="package-details">
        <PackageContent
        v-if="!!store.package"
        @new-folder = "$refs.newFolder.showModal()"
        ></PackageContent>
        <dialog ref="newFolder" class="create-folder">
            <h1>New Folder</h1>
            <label for="folder-name">
                <div>Choose a name:</div>
                <input
                name="folder-name"
                v-model="folderName"
                placeholder="e.g. Supplements"
                required
                :invalid="showErrorText">
            </label>
            <form method="dialog">
                <Button class="abort-create" @button-clicked="$refs.newFolder.close()">Abort</Button>
                <Button class="confirm-create" @button-clicked="store.createFolder(folderName)">
                    <div>Create folder</div>
                </Button>
            </form>
        </dialog>
        <aside class="right-sidebar">
            <div class="tabs">
                <div class="tab" :class="{active: store.activeTab === 'upload'}">
                    <button class="text" @click="store.activeTab = 'upload'">File Upload</button>
                    <div class="indicator"></div>
                </div>
                <div class="tab" :class="{active: store.activeTab === 'import'}">
                    <button class="text" @click="store.activeTab = 'import'">Import</button>
                    <div class="indicator"></div>
                </div>
            </div>
            <Import v-if="store.activeTab === 'import'"></Import>
            <Upload v-if="store.activeTab === 'upload'"></Upload>
        </aside>
        <Metadata :open="store.modalOpen" @close="store.closeDocument()"></Metadata>
    </main>
</App>