<App>
    <main class="package-details">
        <PackageContent
        v-if="!!store.package"
        @back = "store.climbPackagePath()"
        @metadata="metadataStore.openMetadata($event.type, $event.id)">
            <Button
            class="side-button"
            @button-clicked="$refs.newFolder.showModal()">
                <i class="fa-solid fa-folder-plus"></i>
                <div>Add folder</div>
            </Button>
        </PackageContent>
        <dialog ref="newFolder" class="create-folder" @keyup="enterPressed">
            <h1>New Folder</h1>
            <LabeledInput
                :id="'new-folder'"
                :label="'Choose a name:'"
                :placeholder="'e.g. Supplements'"
                :value="store.newFolderName"
                @input="(value) => store.newFolderName = value"
            ></LabeledInput>
            <form method="dialog">
                <Button class="abort-create" @button-clicked="$refs.newFolder.close()">Abort</Button>
                <Button class="confirm-create" :disabled="store.newFolderName === ''" @button-clicked="createFolder()">
                    <div>Create folder</div>
                </Button>
            </form>
        </dialog>
        <aside class="right-sidebar">
            <div class="tabs">
                <div class="tab" :class="{active: store.activeTab === 'upload'}">
                    <button class="text" @click="store.activeTab = 'upload'">File Upload</button>
                    <div class="indicator"></div>
                </div>
                <div class="tab" :class="{active: store.activeTab === 'import'}">
                    <button class="text" @click="store.activeTab = 'import'">Import</button>
                    <div class="indicator"></div>
                </div>
            </div>
            <Import v-if="store.activeTab === 'import'"></Import>
            <Upload v-if="store.activeTab === 'upload'"></Upload>
        </aside>
        <Metadata></Metadata>
    </main>
</App>