<App>
    <main class="package-overview">
        <aside class="left-sidebar">
            <template v-if="!store.loading.packageList">
                <PackageListItem
                    v-for="pkg in store.packages"
                    v-bind="pkg"
                ></PackageListItem>
                <div class="add-package">
                    <Button @button-clicked="$refs.newPackage.showModal()">
                        <i class="fa-solid fa-plus"></i>
                        <div>Add project</div>
                    </Button>
                </div>
            </template>
            <div class="loading" v-else></div>
            <dialog ref="newPackage" class="create-package" @keyup="enterPressed">
                <h1>Create a new project</h1>
                <LabeledInput
                    :label="'Choose a name:'"
                    :placeholder="'e.g. Dataset 1'"
                    @input="name => packageName = name"
                ></LabeledInput>
                <form method="dialog">
                    <Button class="abort-create" @button-clicked="$refs.newPackage.close()">Abort</Button>
                    <Button class="confirm-create" @button-clicked="createPackage(packageName)">
                        <div>Create project</div>
                    </Button>
                </form>
            </dialog>
        </aside>
        <PackageContent v-if="!!store.selectedPackage" @back="store.climbPackagePath()"></PackageContent>
        <Metadata :open="editStore.modalOpen" :metadataEntity="editStore.metadataEntity" @close="editStore.closeDocument()"></Metadata>
    </main>
</App>