main {
  overflow: auto;
}

.index-page {
  padding: 2rem;
}

.index {
  margin-left: 2.5rem;
}

.grid-container{
  display:grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.column{
  background-color: rgba(0,0,0,0.1);
  border-radius: 2rem;
  margin: 1.5rem;
  padding: 2rem;
  hyphens: auto;
  text-align: justify;
  height: 100%;
  max-height: 100%;
  min-height: 0;
  overflow-y: auto;
}

.tutorial-video {
  max-height: calc(100% - 3rem);
  max-width: 100%;
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;
}

.intro-item{
  display: flex;
  gap: 1rem;
}

.intro-item h4, .intro-item h5 {
  margin: 0;
}

.column h5 {
  text-align: center;
}

.intro-item p {
  margin-top: 0;
}

.intro-item i {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.column h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 1.5rem;
}