.login {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.login h2 {
    width: 100%;
    flex: 0 0 0;
    padding: 0.5rem 1rem;

    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.login form {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;

    width: 30%;
    min-width: 20rem;
}

.login fieldset {
    display: flex;
    flex-direction: column;
    border: none;

    width: 100%;
}

.login .error-text {
    display: none;
}

.login .error-text.visible {
    display: flex;

    padding: 1rem;

    color: var(--error);
}