{% extends "template.html" %}
{% block content %}
<div class="col-md-8" id="mainpage">
    <div id="labFolderEntrySelectionHeader">
        <div>
            <button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionHeaderTop labFolderProject" disabled="true" id="labFolderSelectProject" onclick="updateSelectionProjectMDB(this);">
                Projects
            </button>
            <button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionHeaderTop labFolderMDB" disabled="true" id="labFolderSelectMDB" onclick="updateSelectionProjectMDB(this);">
                Material DB
            </button>
        </div>
        <div id="labFolderProjectSelect">
        </div>
    </div>
    <div class="col-md-8">
        <div class="selections" id="dynamic">
            <form id="selectableEntries">
            </form>
        </div>
    </div>
</div>
<div class="col-md-4" id="right_sidebar">
    <div id="labFolderLogin">
        <div id="labfolderLoginform">
            <form action="#" onsubmit="return false">
                <div id="labFolderLoginFormHeader">
                    <label>
                        <strong>
                            <h1>
                                <b>
                                    LabFolder
                                </b>
                            </h1>
                        </strong>
                    </label>
                    <br>
                    </br>
                </div>
                <label class="formDescriptor" for="username">
                    <h3>
                        <b>
                            Username
                        </b>
                    </h3>
                </label>
                <input name="username" placeholder="Enter Username" required="" type="text" value="">
                    <label class="formDescriptor" for="pwd">
                        <h3>
                            <b>
                                Password
                            </b>
                        </h3>
                    </label>
                    <input name="pwd" placeholder="Enter Password" required="" type="password" value="">
                        <div id="labFolderFailedLogin">
                            <label>
                                Wrong Username or password!
                            </label>
                            <br>
                            </br>
                        </div>
                        <button class="btn lzvButton" id="submitLabFolderButtonLogin" onclick="authenticate(this.form);" type="submit">
                            Login
                        </button>
                    </input>
                </input>
            </form>
        </div>
        <div id="labFolderLoginSuccesful">
            <label>
                LabFolder Login Successfull
            </label>
            <br>
                <button class="btn lzvButton" id="submitLabFolderButtonLogout" onclick="logout();">
                    Logout
                </button>
            </br>
        </div>
    </div>
    <div id="labFolderDownloadButton">
        <button class="btn lzvButton lzvSideBarRight" id="downloadSelectedElements" type="button">
            Download selected Elements
        </button>
        <button class="btn lzvButton lzvSideBarRight" id="updateContent" type="button">
            Reload Content
        </button>
        <button class="btn lzvButton lzvSideBarRight" id="selectAllElements" type="button">
            Select all
        </button>
        <button class="btn lzvButton lzvSideBarRight" id="deSelectAllElements" type="button">
            Deselect all
        </button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVInterface.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVLabFolder.js') }}">
</script>
{% endblock %}
