{% extends "template.html" %}
{% block content %}
<div class="col-md-8" id="mainPage">
	<div  id="labFolderEntrySelectionHeader">
		<div >
			<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionHeaderTop labFolderProject" id="labFolderSelectProject" disabled="true" onclick="updateSelectionProjectMDB(this);">Projekte</button>
			<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionHeaderTop labFolderMDB" id="labFolderSelectMDB" disabled="true" onclick="updateSelectionProjectMDB(this);">Materialien</button>
		</div>
		<div  id="labFolderProjectSelect">


<!-- 						
 						<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionProject labFolderProject" id="testproject">Testprojekt</button>
						<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionProject labFolderProject" id="testproject">Testprojekt</button>
						<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionProject labFolderProject" id="testproject">Testprojekt</button> -->
						<!-- <button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionProject labFolderProject" id="testproject">Testprojekt</button> -->
					</div>
				</div>
				<div class="col-md-8">
					<div class="selections" id=dynamic>
						<form id="selectableEntries">
							<!-- <div>
 							<div class="entrySelect lzvButton labFolderProject">
 									<input type="checkbox" value="" id="1337" name="1337">
 									<label for="1337" class="selectLabel">
 										Titeldföogjnsldkfjnglksjdnfglkjn
 									<span class="versionCounter">
										<button type="button" class="expandVersionButton" onclick="toggleDisplayVersions(this);"> 3 versions  <span class="arrow">v</span></button>
									</span>
 									</label>
							</div>
							<div class="versionList">
								<div class="versionDetail">
 									<span>
 										Version1
 									</span>
 									<button class="expandVersionButton" id="versionID" onclick="downloadVersion(this);"> Download </button>
 								</div>
 								<div class="versionDetail">
 									<span>
 										Version2
 									</span>
 									<button class="expandVersionButton"> Download </button>
 								</div>
 								<div class="versionDetail">
 									<span>
 										Version3
 									</span>
 									<button class="expandVersionButton"> Download </button>
 								</div>
 							</div>
 						</div>
							<div class="entrySelect lzvButton labFolderProject"><input type="checkbox" value="" id="1338" name="1338">
							<label for="1338">Titel2</label>
							</div>
							<div class="entrySelect lzvButton labFolderProject"><input type="checkbox" value="" id="1338" name="1338">
							<label for="1338">Titel2</label>
							</div>
						-->
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="labFolderLogin">
				<div id="labfolderLoginform">
					<form onsubmit="return false" action ="#">
						<div id="labFolderLoginFormHeader"><label><strong><h1><b>LabFolder</b></h1></strong></label><br> </div>
						<label class="formDescriptor" for="username"><h3><b>Username</b></h3></label>
						<input name="username" type="text" placeholder="Enter Username" required value="robert.guenther@uni-bayreuth.de">
						<label class="formDescriptor" for="pwd"><h3><b>Password</b></h3></label>
						<input name="pwd" type="password" placeholder="Enter Password" required value="krQ3C3LTjIXFmwcpmEaM">
						<div id="labFolderFailedLogin">
							<label> Wrong Username or password!</label><br>
						</div>
						<button type="submit" class="btn lzvButton" id="submitLabFolderButtonLogin" onclick="authenticate(this.form);">Login</button>
					</form>
				</div>
				<div  id="labFolderLoginSuccesful">
					<label>LabFolder Login Successfull</label><br>
					<button class="btn lzvButton" id="submitLabFolderButtonLogout" onclick="logout();">Logout</button>
				</div>

			</div>
			<div id="labFolderDownloadButton">
				<button id="downloadSelectedElements" type="button" class="btn lzvButton lzvSideBarRight">Download selected Elements</button>
				<button id="updateContent" type="button" class="btn lzvButton lzvSideBarRight">Reload Content</button>
				<button id="selectAllElements" type="button" class="btn lzvButton lzvSideBarRight">Select all</button>
				<button id="deSelectAllElements" type="button" class="btn lzvButton lzvSideBarRight">Deselect all</button>
			</div>	
			<!--these are only here for testing purposes -->			
<!-- 				<div>
					<button id="getEntries" type="button" class="btn lzvButton">krieg die Entries...</button>
					<button id="getProjects" type="button" class="btn lzvButton">krieg die Projecte...</button>
					<button id="download" type="button" class="btn lzvButton">download...</button>
					<button id="downloadMDB" type="button" class="btn lzvButton">downloadMDB...</button>
					<button id="getMDBdatabases" type="button" class="btn lzvButton">download mdb database...</button>
					<button id="getMDBcats" type="button" class="btn lzvButton">download mdb categories...</button>
				</div>  -->

			</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}"></script>
<script src="{{ url_for('static',     filename='js/LZVLabFolder.js') }}"></script>
{% endblock %}
