{% extends "template.html" %}
{% block content %}
<div class="col-md-8" id="mainPage">
	<div  id="labFolderEntrySelectionHeader">
		<div >
			<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionHeaderTop labFolderProject" id="labFolderSelectProject" disabled="true" onclick="updateSelectionProjectMDB(this);">Projects</button>
			<button class="btn lzvButton btnEntrySelectionHeader btnEntrySelectionHeaderTop labFolderMDB" id="labFolderSelectMDB" disabled="true" onclick="updateSelectionProjectMDB(this);">Material DB</button>
		</div>
		<div  id="labFolderProjectSelect">

					</div>
				</div>
				<div class="col-md-8">
					<div class="selections" id=dynamic>
						<form id="selectableEntries">
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="labFolderLogin">
				<div id="labfolderLoginform">
					<form onsubmit="return false" action ="#">
						<div id="labFolderLoginFormHeader"><label><strong><h1><b>LabFolder</b></h1></strong></label><br> </div>
						<label class="formDescriptor" for="username"><h3><b>Username</b></h3></label>
						<input name="username" type="text" placeholder="Enter Username" required value="robert.guenther@uni-bayreuth.de">
						<label class="formDescriptor" for="pwd"><h3><b>Password</b></h3></label>
						<input name="pwd" type="password" placeholder="Enter Password" required value="krQ3C3LTjIXFmwcpmEaM">
						<div id="labFolderFailedLogin">
							<label> Wrong Username or password!</label><br>
						</div>
						<button type="submit" class="btn lzvButton" id="submitLabFolderButtonLogin" onclick="authenticate(this.form);">Login</button>
					</form>
				</div>
				<div  id="labFolderLoginSuccesful">
					<label>LabFolder Login Successfull</label><br>
					<button class="btn lzvButton" id="submitLabFolderButtonLogout" onclick="logout();">Logout</button>
				</div>

			</div>
			<div id="labFolderDownloadButton">
				<button id="downloadSelectedElements" type="button" class="btn lzvButton lzvSideBarRight">Download selected Elements</button>
				<button id="updateContent" type="button" class="btn lzvButton lzvSideBarRight">Reload Content</button>
				<button id="selectAllElements" type="button" class="btn lzvButton lzvSideBarRight">Select all</button>
				<button id="deSelectAllElements" type="button" class="btn lzvButton lzvSideBarRight">Deselect all</button>
			</div>	
			</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}"></script>
<script src="{{ url_for('static',     filename='js/LZVLabFolder.js') }}"></script>
{% endblock %}
