{% extends "template.html" %}
{% block content %}
<div class="col-md-2" id="sidebar">
    <div id="newItems">
        <button class="sidebarItem sidebarMainItem" id="new_package_item" onclick="create_empty_package_form();">
            New Package
        </button>
            <!-- <button class="sideBarItem sideBarSubItem" id="test">DC 1.1</button><br> -->
            <div id="newItemsSubItems">
            </div>
    </div>
    <div id="myItems">
        <button class="sidebarItem sidebarMainItem" id="myItemsButton" onclick="toggleDisplaySubItems(this);">
            My Packages
            <span class="arrow">
                v
            </span>
        </button>
            <div id="myItemsSubItems">
                <!-- <button class="sideBarItem sideBarSubItem" id="test">Subitem</button><br> -->
            </div>
    </div>
</div>
<div class="col-md-8" id="mainpage">
    <div id="package_manager_main_form">
        <div id="package_manager_form_header" package_id="">
            <div class="table_form_ui_field">
                <h3>
                    <strong>
                        Name:
                    </strong>
                </h3>
                <input id="package_name" name="package_name" required="" type="text" value=""/>
            </div>
            <div class="table_form_ui_field">
                <h3>
                    <strong>
                        Description:
                    </strong>
                </h3>
                <input id="package_description" name="package_description" required="" type="text" value=""/>
            </div>
            <hr>
            </hr>
        </div>
        <div id="package_manager_form_body">
            <div id="package_manager_form_body_left">
                <div class="form_multiple_select_descriptor" id="package_content_container_descriptor">
                    Package Content:
                </div>
                <div class="form_multiple_select_container" id="package_content_container" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                </div>
            </div>
            <div id="package_manager_form_body_right">
                <div class="form_multiple_select_descriptor" id="package_options_container_descriptor">
                    Available Content:
                </div>
                <div class="form_multiple_select_container" id="package_options_container" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                </div>
            </div>
        </div>
        <div id="package_manager_form_footer">
        </div>
    </div>
    <div id="popupForm">
    </div>
</div>
<div class="col-md-2" id="right_sidebar">
    <div id="sidebar_buttons">
        <div id="general_metadata_buttons">
            <button class="btn lzvButton" id="button_save_package_object" onclick="save_package_object();" type="button" disabled>
                Save
            </button>
            <!-- <button type="button" class="btn lzvButton" id="copyMetaDataSet" onclick="copyActiveMetaDataSet();">Copy Set</button> -->
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVInterface.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVLabFolder.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVPackage.js') }}">
</script>
{% endblock %}
