{% extends "template.html" %}
{% block content %}
	<div class="col-md-2" id="sidebar">
		<div id="newItems">
			<button class="sidebarItem sidebarMainItem" id="newMetaItems" onclick="toggleDisplaySubItems(this);">New Metadata Set <span class="arrow">v</span></button><br>
			<!-- <button class="sideBarItem sideBarSubItem" id="test">DC 1.1</button><br> -->
			<div id="newItemsSubItems">
			</div>
		</div>
		<div id="myItems">
			<button class="sidebarItem sidebarMainItem" id="myItemsButton" onclick="toggleDisplaySubItems(this);">My Metadata Sets <span class="arrow">v</span></button><br>
		<div id="myItemsSubItems">
			<!-- <button class="sideBarItem sideBarSubItem" id="test">Subitem</button><br> -->
		</div>
	</div>
	</div>
	<div class="col-md-8" id="mainpage">
		<div id="metaDataMainForm"> 
			<div id="metaDataFormHeader"></div>
			<form id="metaDataForm">

			</form>
			<div id="metaDataFormFooter"></div>
		</div>
	</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}"></script>
<script src="{{ url_for('static',     filename='js/LZVMetaData.js') }}"></script>
{% endblock %}
	