{% extends "template.html" %}
{% block content %}
	<div class="col-md-2" id="sidebar">
		<button class="sidebarItem sideBarMainItem" id="newMetaItem">New Item</button><br>
		<div id="myItems">
			<button class="sideBarItem sideBarMainItem" id="myMetaItems" onclick="toggleDisplaySubItems(this);">My Items <span class="arrow">v</span></button><br>
			<button class="sideBarItem sideBarSubItem" id="test">Subitem</button><br>
	</div>
	</div>
	<div class="col-md-10" id="mainpage">
		<p id="metaDataForm">Test</p>
	</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}"></script>
<script src="{{ url_for('static',     filename='js/LZVMetaData.js') }}"></script>
{% endblock %}
	