<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FD Organizer</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.ico')}}">
	<link href="{{ url_for('static',     filename='css/loading-spinner.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',     filename='fontawesome/css/fontawesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',     filename='fontawesome/css/solid.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',     filename='css/template.css') }}" rel="stylesheet">
	{% block js %}
	{% endblock %}
</head>

<body>
	<main id="app-container">
		<div class="lds-spinner">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</main>
</body>

</html>