<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FD Organizer</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.svg')}}">
	<link href="{{ url_for('static',     filename='css/loading-spinner.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',     filename='fontawesome/css/fontawesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',     filename='fontawesome/css/all.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',     filename='css/template.css') }}" rel="stylesheet">
	{% block js %}
	{% endblock %}
</head>

<body>
	<main id="app-container">
		<div class="static-top-banner">
			<div><a href="/">FDOrganizer</a></div>
			<img src="/static/images/lzv-bayern.svg" id="top_logo">
		</div>
		<h2 class="static-title">{% block title %}Loading...{% endblock %}</h2>
		<div class="static-content">
		{% block content %}
		<div class="lds-spinner">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		{% endblock %}
		</div>
		<div class="static-bottom-bar">
			<div class="links">
				<a href="/info/source">Source</a>
				<a href="/info/impressum">Impressum</a>
				<a href="/info/datenschutz">Datenschutzerklärung</a>
				<a href="/info/a11y">Barrierefreiheit</a>
				<a href="/info/tos">Nutzungsbedingungen</a>
			</div>
			<div>&copy; Universität Bayreuth 2022,  Universität Regensburg 2022-2025, Friedrich-Alexander-Universität Erlangen-Nürnberg 2026</div>
		</div>
	</main>
</body>

</html>