{% extends "template.html" %}
{% block title %}
	Nutzungsbedingungen und Datenschutzerklärung
{% endblock %}
{% block content %}
<div>
	<h1>Nutzungsbedingungen</h1>
	<p>For maintainers of this site: Copy "server/templates/terms-of-service-missing.html" to  "server/templates/terms-of-service.html" and insert your terms.</p>
	<h1>Datenschutzerklärung</h1>
	<p>For maintainers of this site: Copy "server/templates/terms-of-service-missing.html" to  "server/templates/terms-of-service.html" and insert your data protection declaration.</p>
</div>
{% endblock %}
{% block script %}
{% endblock %}
