{% extends "template.html" %}
{% block content %}
<div class="col-md-2" id="sidebar">
    <div id="newItems">
    </div>
    <div id="myItems">
    </div>
</div>
<div class="col-md-8" id="mainpage">
    <div id="metaDataMainForm">
        <p>Name for File Package:</p>
            <form id="formElem">
                <div class="table_form_ui_field">
                    <input name="upload_package_name" required="" type="text" value=""/>
                </div>
                <hr>
                    <input id="upload_choose_files_hidden_input" multiple="" name="uploaded_files" type="file">
                        <button class="btn lzvButton" id="upload_choose_files" type="button">
                            Choose Files
                        </button>
                        <input class="btn lzvButton" type="submit">
                        </input>
                    </input>
                </hr>
            </form>
            <br>
        <p>
            Selected Files:
        </p>
        <div id="upload_list">
        </div>
    </div>
    <div id="popupForm">
    </div>
</div>
<div class="col-md-2" id="right_sidebar">
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVInterface.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVUpload.js') }}">
</script>
{% endblock %}
