{% extends "template.html" %}
{% block content %}
<div class="col-md-2" id="sidebar">
    <div id="newItems">
    </div>
    <div id="myItems">
    </div>
</div>
<div class="col-md-8" id="mainpage">
    <div id="metaDataMainForm">
        <p>Name for File Package:</p>
            <form id="formElem">
                <div class="table_form_ui_field">
                    <input id="input_package_name" name="upload_package_name" required="" type="text" value=""/>
                </div>
                <hr>
                    <input id="upload_choose_files_hidden_input" multiple="" name="uploaded_files" type="file">
                        <button class="btn lzvButton" id="upload_choose_files" type="button">
                            Choose Files
                        </button>
                        <input style="visibility:hidden;" id="submit_for_upload" class="btn lzvButton" type="submit">
                        </input>
                    </input>
                </hr>
            </form>
            <br>
        <p>
            Selected Files:
        </p>
        <div id="upload_list">
        </div>
    </div>
    <div id="popupForm">
        <div id="consent_dsgvo_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
        <button class="btn lzvButton" id="button_consent_agree" onclick="upload_package_agree();" type="button">
        I agree
        </button>
        <button class="btn lzvButton" id="button_consent_disagree" onclick="upload_package_disagree();" type="button">
        I disagree
        </button>
    </div>
</div>
<div class="col-md-2" id="right_sidebar">
    <div id="general_metadata_buttons">
        <button class="btn lzvButton" id="button_save_package_object" onclick="ask_for_consent();" type="button">
        Upload Package
        </button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',     filename='js/LZVBase.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVInterface.js') }}">
</script>
<script src="{{ url_for('static',     filename='js/LZVUpload.js') }}">
</script>
{% endblock %}
