<App>
    <main class="review-page">
        <aside class="left-sidebar">
            <template v-if="!store.loading.packageList">
                <template v-for="status in STATUS">
                    <header class="package-status-header">
                        <i class="icon fa-solid" :class="status.icon"></i>
                        <h2 class="text">{{status.name}}</h2>
                        <VideoDialog v-if="status.id === 'review'" title="How to review a submitted project" video="HowToReview">
                            <span class="tutorial-trigger">How to review?</span>
                        </VideoDialog>
                    </header>
                    <ReviewListItem v-if="!!store.packagesWithStatus(status.id).length"
                        v-for="pkg in store.packagesWithStatus(status.id)"
                        v-bind="pkg"
                       @open-metadata="metadataStore.openMetadata('package', pkg.id, true)"
                       @open-settings="settingsStore.openSettings(pkg, 'reviews', true, store.reviewReadonly(pkg))"
                    ></ReviewListItem>
                    <div v-else class="no-data-placeholder">No packages with status "{{status.name}}"</div>
                </template>
            </template>
            <div class="loading" v-else></div>
        </aside>
        <PackageContent
            v-if="!!store.selectedPackage"
            @back="store.climbPackagePath()"
            @metadata="metadataStore.openMetadata($event.type, $event.id, true)">
                <Button
                v-if="store.selectedPackage.status === 'review'"
                class="accept-button side-button"
                @button-clicked="store.acceptReview()">
                    <i class="fa-solid fa-check"></i>
                    <div>Accept for Archive</div>
                </Button>
                <Button
                v-if="store.selectedPackage.status === 'archived'"
                class="accept-button side-button"
                @button-clicked="store.download()">
                    <i class="fa-solid fa-download"></i>
                    <div>Download Package</div>
                </Button>
        </PackageContent>
        <Metadata></Metadata>
        <ArchivePackageSettings @request-changes="id => store.rejectReview(id)"></ArchivePackageSettings>
    </main>
</App>