* {
	/*font-family: "Courier New", Courier, monospace;*/
  box-sizing: border-box;
  --main_button_color: #28a745;
  --main_button_hover_color: #169932;
  --detail_button_color: #b6e109;
  --detail_button_hover_color: #a6d101;
  --neg_button_color: #e60000;
  --neg_button_hover_color: #cc0000;
}


@font-face {
    font-family: "MyriadPro-Regular", "Courier New", Courier, monospace;
    src: url('fonts/MyriadPro-Regular.otf'); 
}


html,body {
	
	height: 100%;
}

body {
  background-color: white;
	/*background-image: url("../images/lab_research_chemistry_test_7_mod.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}



#topBanner {
  padding-top: 10px;
  font-size: 50px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
  font-weight: 700;
  height: 100px;
  position: fixed;
  z-index: 10;
  background: white;
  /*background: rgba(40,167,69,0.4);*/
}

#toplogo {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
}

/*-----navbar-----*/
#navbarTop {
  position: fixed;
  width: 100%;
  top: 100px;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(120,120,120,0.3);
  text-decoration: none;
  color: white;
}

#logout_lzv {
  display: none;
  float: right;
}

/*basic button design*/

.lzvButton {
  color: white;
  border-radius: 0;
  font-weight: bold;
  background-color: var(--main_button_color);
  border: 1px solid var(--main_button_hover_color);
  margin-top: 2px;
  margin-left: 2px;
}

.lzvButton:focus {
  box-shadow: none;
  background-color: var(--main_button_hover_color);
  color: white;
}

.lzvButton:hover {
  background-color: var(--main_button_hover_color);
  color: white;
}

.lzvSideBarRight {
  width: 100%;
  margin-left: -10px;
  margin-top: 1px;
}

/*the items which can be selected to download*/
.entrySelect {
  white-space: nowrap;
  width: 100%;
  padding: 10px;
  margin-left: -25px;
  margin-top: 2px;
  margin-bottom: -1px;
  height: 90%;
}

.selectLabel {
  display:inline;
} 
.versionCounter {
  float: right;
  margin-right: 5px;
  display:inline-block;
} 
.expandVersionButton {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--detail_button_color); 
  border: none;
}

.floatRight {
  float: right;
}

.expandVersionButton:hover {
  color: white;
  background-color: var(--detail_button_hover_color);
}

.versionDetail {
  background-color: var(--detail_button_color);
  color: white;
  font-weight: bold;
  /*margin-left: 20px;*/
  margin-top: 2px;
  margin-bottom: -1px;
  margin-right: -45px;
  white-space: nowrap;
  width: 97%;
  padding: 5px;
  padding-left: 10px;
  display: none;
}

.versionDetail .expandVersionButton {
  border-color: white;
  display:inline-block;
  float: right;

}
/*----dynamicLabFolderContent----*/

.btnEntrySelectionHeader {
  white-space: nowrap;
  margin-left: -10px;
  margin-right: 5px;
  margin-bottom: -1px;
  width: 50%;
}

.btnEntrySelectionHeader.selected {
  background-color: var(--main_button_hover_color);
  text-decoration: underline;
  outline: 0;
  color: white;
}

.btnEntrySelectionProject {
  width: 25%;
  margin-right: 10px;
}

/*----LabFolderLoginBox-----*/

#labFolderLogin {
  background-color: white;
  border-radius: 2px;
  border: 2px solid #606060;
  padding: 3px;
  transform: translate(-10px, 0px);
}

#labFolderFailedLogin {
  display: none;
  color: red;
}

#labFolderLoginSuccesful {
  display: none;
  height: 100px;
  max-height: 100px; 
}

#labFolderLoginFormHeader {
  text-align: center;
  background-color: rgba(40,167,69,0.4);
  padding-top: 12px;
  border-radius: 2px;
}

#labFolderLogin .lzvButton {
  display: block;
  padding: 10px;
  width: 100%;
}

.formDescriptor {
  padding-top: 2px;
  margin: 0;
  margin-top: 3px;
  width: 100%;
}

/*------LZV Login-------*/
#lzvLoginSuccesful {
  display: none;
  height: 100px;
  max-height: 100px; 
}

#lzvFailedLogin{
  display: none;
  color: red;
}
/*Download buttons*/

#labFolderDownloadButton {
  display: none;
}

/*#submitLabFolderButtonLogin {
  display: block;
  padding: 10px;
  width: 100%;
}

.submitLabFolderButtonLogout {
  display: block;
  padding: 10px;
  width: 100%;
}*/


/* Full-width inputs */
input[type=text], input[type=password] {
  font-size: 14px;
  width: 100%;
  padding: 10px 7px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/*overlay (popup form)*/
#popupForm {
    display: none;
    position: fixed;
    top: 200px;
    left: 300px;
    width: 80%;
    height: 70%;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    background-color: #eee;
    filter:alpha(opacity=50);
    z-index: 10000;
    overflow-y: scroll;
}

/*Checkboxes styles*/
.selections input[type="checkbox"] { display: none; }

.selections input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.selections input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.selections input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.selections input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 2px;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*-----------metadata Form---------*/
#mainpage {
  position: relative;
  top: 152px;
  z-index:5;
}

#sidebar {
  border-right: 1px solid #111111;
  background: white;
  padding-bottom: 10px;
  margin-left: -10px;
  height:100vh;
  width:210px; /* or whatever width you want. */
  max-width:210px; /* or whatever width you want. */
  min-width: 210px;
  display: inline-block;
  position: relative;
  top: 152px;
  z-index:5;
  /*margin-left:  5px;*/
  
}

#right_sidebar {
  position: relative;
  top: 152px;
  z-index:5;
}

.sidebarItem{
  transform: translate(0px,3px);
  color: white;
  border-radius: 0;
  font-weight: bold;
  background-color: var(--main_button_color);
  border: 1px solid var(--main_button_hover_color);
  height: auto;
  width: 180px;
  text-align: left;
}


#newItemsSubItems, #myItemsSubItems {
  display: none;
}

.arrow {
  float: right;
  margin-right: -1px;
  display:inline-block;
  padding-left: 4px;
}

.sidebarSubItem {
  margin-left: 5px;
  background-color: var(--detail_button_color);
  border: 1px solid var(--detail_button_hover_color);
  width: 140px;
  height: 27px;
  font-size: 12px;
  /*display: none;*/
}

.sidebarItem:hover {
  background-color: var(--main_button_hover_color);
}

.sidebarSubItem:hover {
  background-color: var(--detail_button_hover_color);
}

.round-button {
  /*padding-top: -50%;*/
  /*margin-top: -10%;*/
  width:0.5em;
  display: inline-block;
}
.deleteSetButton {
  width: 20%;
  height:50%;
  transform: translate(0.1em, 0.2em);  
  padding-bottom: 100%;
  padding-left: 100%;
  border-radius: 50%;
  /*border:10px solid #cfdcec;*/
  overflow:hidden;
  display: inline-block;        
  background: red; 
  /*box-shadow: 0 0 3px gray;*/
}
.deleteSetButton:hover {
  background-color: rgb(255,50,50);
}
.round-button span {
  /*display:block;*/
  float:left;
  width:100%;
  height: 0.5em;
  transform: translate(0, -0.25em);
  /*padding-top:100%;*/
  /*padding-bottom:50%;*/
  line-height:1em;
  /*margin-top: 0.2em;*/
  /*border: 1px black;*/
  color: white;        
  text-align:center;
  font-size:1em;
  font-weight:bold;
}

.export_metadata_buttons .general_metadata_buttons {
  width: 100%;
}

#txtXML {
  width: 100%;
  height: 90%;
  border: none;
  resize: none;
}

.mandatory_descriptor {
  float: right;
  border-radius: 2px;
  border: none;
  color: white;
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
}

.required_entity_descriptor {
  background-color: var(--neg_button_color);
}

.optional_entity_descriptor {
  background-color: var(--main_button_color);
}

.meta_form_group_descriptor {
  width: 90%;
  size: 10px;
  margin-top: 2px;
  margin-left: 2px;
  background-color: #dddddd;
  border-radius: 2px;
  border: none;
}

.metaFormElement.dupe {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
}

.meta_form_group.clone {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
}

.table_form_ui_field.clone {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
}

.meta_form_group_descriptor .meta_group_name {
  font-weight: bold;
}
.meta_form_group_descriptor .meta_group_description {
  font-style: italic;
}

.meta_form_group_descriptor:hover {
  background-color:  #eeeeeeee;
}

.meta_form_entity {
  display: none;
  margin-left: 2px;
  /*margin-top: 4px;*/
  border-radius: 3px;
  border: 2px solid #dddddd;
  width: 90%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}

.metaFormElement {
  border-radius: 1px;
  border: 1px #333333;
  width: 95%;
  margin-left: 4px;
  
}
.metaFormUIField input {
  border-radius: 3px;
  width: 50%;
  height: 30px;
}

#right_sidebar {
  width: 100%;
  position: relative;
}

#sidebar_buttons{
  position: fixed;
  float: right;
  width: 20%;
}

#sidebar_buttons button {
  float: top;
  width: 95%;
}

select{
  /*-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;*/
  border-radius: 3px;
  border-color: #aaaaaa;
  /*border: none;  */
  width: 30%;
  height: 30px;
  padding-left: 10px;
  background-color: white;
  /*color: #fff;*/
  font-size: 16px;
}

.meta_form_button {
  color: white;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.duplicate_button {
  background-color: var(--main_button_color);
}

.duplicate_button:hover {
  background-color: var(--main_button_hover_color);
}

.remove_button {
  background-color: var(--neg_button_color);
}

.remove_button:hover {
  background-color: var(--neg_button_hover_color);
}

.metaFormCVField {
      position: relative;
}

.metaFieldDescription {
  font-style: italic;
}
.metaFieldName {
  font-style: bold;
}

.table_form_ui_field button {
  border: none;
  border-radius: 8px;
  color: white;
  /*height: 20px;*/
  width: 30px;
  margin-left: 8px;
  margin-top: 7px;
  transform: translate(-4px, -4px);  
  text-align: center;
  font-weight: bold;
  /*padding-top: -10px;
  padding-left: -10px;*/
}

.table_form_ui_field select {
  width: 100%;
}

.table_form_ui_field .duplicate_field_button {
  background-color: var(--main_button_color);
  /*margin-left: 2px;*/
}

.table_form_ui_field .open_meta_popup {
  background-color: var(--main_button_color);
  /*margin-left: 2px;*/
}

.table_form_ui_field .remove_field_button {
  background-color: red;
}

.table_field_select {
  width: 200px;
}

.table_field_button {
  width: 1%;
}

#metaDataFormFooter {
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #bbbbbb;
  text-align: left;
  padding: 8px;
}

input:required:invalid, select:required:invalid {
  box-shadow: inset 0px 0px 3px rgba(255, 0, 0, 0.85);
}

.staticFormContent {
  width: 100%;
}


/*PACKAGE*/
.form_multiple_select_descriptor {
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  font-weight: bold;
  font-size: 2em;
  width: 100%%;
  text-align: center;
}

.form_multiple_select_container {
  width: 100%;
  height: 100vh;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  overflow: scroll;
}

.open_info_button {
  background: #bbbbbb  url("/static/images/icon_lupe_white.png") no-repeat scroll 50% 50%; 
  border-radius: 0px 2px 2px 0px;
  border-color: #bbbbbb;  
  float: right;
  display: inline-block;
  width: 9%;
  height: 100%;
  outline: 0;
  transform: translate(-10%, 0%);

}

.open_info_button:hover {
  background-color: #ababab;
}

.container_subitem {
  display: block;
  width: 99%;
  height: 3em;
  margin-top: 2px;
  margin-left: 2px;
  font-weight: bold;
}

.container_item_select {
  color: white;
  background-color: #bbbbbb;
  border-radius: 2px 0px 0px 2px;
  border-color: #bbbbbb;
  width: 90%;
  float: left;
  outline: 0;
  height: 100%;
}

.container_item_select.selected {
  background-color: var(--main_button_color);
  /*-webkit-box-shadow: inset 1px 1px 10px 4px rgba(20,20,20,0.38); */
  box-shadow: inset 1px 1px 10px 4px rgba(20,20,20,0.38);
}

.container_item_select:hover {
  color: white;
  background-color: #ababab;
}

.container_item_select.selected:hover {
  background-color: var(--main_button_hover_color);
}


.package_button {
  background: #eeeeee;
  border-radius: 5px;
  border-color: #cccccc;
  display: inline-block;
  margin-top: 2px;
}

.package_button:hover {
  background: #dedede;
}

.package_button_div {
  margin: auto;
  width: 90%;
  transform: translate(0vh , 50vh);
}

#package_manager_form_body_left {
  width: 40%;
  height: 100vh;
  display: inline-block;
}

#package_manager_form_body_right {
  width: 40%;
  height: 100vh;
  display: inline-block;
}

#package_manager_form_body_middle {
  vertical-align: top;
  width: 10%;
  height: 100vh;
  display: inline-block;
}

#package_manager_form_body {
  height: 100vh;
}