html {
    height: 100%;
    width: 100%;

    font-size: 16px;

    --background-color: #ffffff;
    --rgb-font-color: 51, 51, 51;
    --font-color: #333333;

    --primary-color: #0B5FCB;
    --rgb-primary-color: 11, 95, 203;
    --on-primary-color: #ffffff;

    --secondary-color: #CB0B7A;
    --rgb-secondary-color: 203, 11, 122;
    --on-secondary-color: #ffffff;

    --error: #b71c1c;
    --rgb-error: 183, 28, 28;
    --on-error: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-color: white;

    font-family: Tahoma, Verdana, sans-serif, monospace;
}

#app-container,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.static-content {
    flex-grow: 1;
}

.static-top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    flex: 0 0 0;
    padding: 1rem;

}

.static-top-banner div {
    font-size: 3rem;
    font-weight: 1000;
}

.static-top-banner img {
    height: 5rem;
}

h2.static-title {
    width: 100%;
    flex: 0 0 0;
    padding: 0.5rem 1rem;

    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.static-bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.5rem;
    flex: 0 0 0;

    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.static-bottom-bar .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex: 1 0 1;
}

.static-bottom-bar .links a {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--on-primary-color);
}

.static-bottom-bar .links a:hover {
    text-decoration: underline;
}