<label class="field-label" :for="id" :class="{'no-label': !label}">
    <div v-if="!!label" class="label-text" :invalid="!focus && invalid">{{localizedLabel}}</div>
    <template v-if="!options">
        <input
            :value = "value"
            :list="!!options ? `${id}-options` : null"
            class="input"
            :id="id"
            :name="id"
            :type= "type ?? 'text'"
            :placeholder="placeholder ?? ''"
            :invalid="!focus && invalid"
            :disabled="disabled"
            @input="select"
            @focus="focus = true"
            @blur ="focus = false"
        />
        <datalist v-if="!!options" :id="`${id}-options`">
            <option v-for="option in localizedOptions" :value="option.id">{{option.label}}</option>
        </datalist>
    </template>
    <select v-else
        :name="id"
        :id="id"
        :invalid="invalid"
        :disabled="disabled"
        class="input select"
        @input="select"
    >
        <option v-for="option in localizedOptions" :value="option.id" :selected="option.id === value" @input="select">{{option.label}}</option>
    </select>
</label>