<label class="field-label" :for="id" :class="{'no-label': !label}">
    <div v-if="!!label" class="label-text" :invalid="!focus && invalid">{{localizedLabel}}</div>
    <select v-if="type === 'monoselect'"
        :name="id"
        :id="id"
        :invalid="invalid"
        :disabled="disabled"
        class="input select"
        @input="select"
    >
        <option v-for="option in localizedOptions" :value="option.id" :selected="option.id === value" @input="select">{{option.label}}</option>
    </select>
    <DateInput v-else-if="type === 'date'"
        :value="value"
        :id="id"
        :invalid="!focus && invalid"
        :disabled="disabled"
        class="input"
        @input="(value) => $emit('input', value)"
        @focus="focus = true"
        @blur="focus = false"
    ></DateInput>
    <NumberInput v-else-if="type === 'coordinate'"
        :value="value"
        :id="id"
        :type="type"
        :invalid="!focus && invalid"
        :placeholder="placeholder"
        :disabled="disabled"
        class="input"
        @input="(value) => $emit('input', value)"
        @focus="focus = true"
        @blur="focus = false"
    ></NumberInput>
    <DefaultInput v-else-if="type === 'password'"
        :value="value"
        :id="id"
        :invalid="!focus && invalid"
        :disabled="disabled"
        :type="'password'"
        :placeholder="placeholder"
        class="input"
        @input="(value) => $emit('input', value)"
        @focus="focus = true"
        @blur="focus = false"
    ></DefaultInput>
    <TextareaInput v-else-if="type === 'long-text'"
        :value="value"
        :id="id"
        :invalid="!focus && invalid"
        :disabled="disabled"
        :placeholder="placeholder"
        class="input"
        @input="(value) => $emit('input', value)"
        @focus="focus = true"
        @blur="focus = false"
    ></TextareaInput>
    <PasswordInput v-else-if="type === 'password'"
        :value="value"
        :id="id"
        :invalid="!focus && invalid"
        :disabled="disabled"
        :placeholder="placeholder"
        class="input"
        @input="(value) => $emit('input', value)"
        @focus="focus = true"
        @blur="focus = false"
    ></PasswordInput>
    <DefaultInput v-else
        :value="value"
        :id="id"
        :invalid="!focus && invalid"
        :disabled="disabled"
        :type="'text'"
        :placeholder="placeholder"
        :required="required"
        class="input"
        @input="(value) => $emit('input', value)"
        @focus="focus = true"
        @blur="focus = false"
    ></DefaultInput>
</label>