<details v-if="!!store.schema[sectionId].length" class="metadata-section" @toggle="open = !open">
    <summary class="section-header">
        <i class="icon fa-solid" :class="open ? 'fa-plus':'fa-minus'"></i>
        <h2>{{label}}</h2>
    </summary>
    <div v-if="!!store.metadata" class="section-content">
        <template v-for="field in store.schema[sectionId]">
            <MetadataField
                :field="field"
                :path="[]"
            ></MetadataField>
        </template>
    </div>
</details>