
.metadata-section {
    border-bottom: solid 0.1rem #ccc;
}

.metadata-section[open] {
    border-bottom: none;
}

.metadata-section .section-header {
    display: grid;
    grid-template-columns: min-content minmax(max-content, auto);
    align-items: center;

    cursor: pointer;
}

.section-header h2{
    margin:0;
    padding: 1rem;
}

.section-header .icon{
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.metadata-section .section-content {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.field-group {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}

.field-group .field-instance{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.field-instance .remove-instance {
    width: fit-content;
    height: fit-content;
    --button-color: var(--error);
    --rgb-button-color: var(--rgb-error);
}

.field-group .add-instance{
    width: fit-container;
}

.field-instance .remove-instance {
    width: fit-content;
    height: fit-content;
    color: var(--error);

    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;

    font-size: 1.2rem;
    cursor: pointer;
    transition: all 200ms;
}

.field-instance .remove-instance:hover {
    background-color: rgba(var(--rgb-error), 0.3);
}

.field-instance .remove-instance:active {
    filter: brightness(1.2);
}