
.metadata-section {
    border-bottom: solid 0.1rem #ccc;
}

.metadata-section[open] {
    border-bottom: none;
}

.metadata-section .section-header {
    display: grid;
    grid-template-columns: min-content minmax(max-content, auto);
    align-items: center;

    cursor: pointer;
}

.section-header h2{
    margin:0;
    padding: 1rem;
}

.section-header .icon{
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.metadata-section .section-content {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}