<dialog class="metadata-modal" ref="modal">
    <div class="content" v-if="!store.loading.entity">
        <header class="metadata-header">
            <i class="fa-solid fa-file-lines"></i>
            <h1 v-if="!!store.entity">{{store.entity.name}}</h1>
            <button class="back-button" @click="$emit('close')">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>
        <main class="metadata-sections">
            <MetadataSection v-for="key in Object.keys(store.schema)" :id="key" :label="store.sectionLabel(key)" :selectedSection="selectedSection" @select-section=selectSection(key)></MetadataSection>
        </main>
        <div class="button-row">
            <Button class="close-button" @button-clicked="$emit('close')">Abort</Button>
            <Button class="save-metadata" @button-clicked="save" :disabled="!store.touched">Save</Button>
        </div>
        <!-- <div class="help-overlay">
            <button @click="helpOverlay=!helpOverlay">x</button>
            <div v-if="helpOverlay">{{JSON.stringify(store.metadata,(key, value) => value ?? "undefined", 4)}}</div>
        </div> -->
    </div>
    <Toast></Toast>
</dialog>