<dialog class="metadata-modal" ref="modal">
    <div class="content" v-if="!store.loading.entity">
        <header class="metadata-header">
            <i class="fa-solid" :class="iconClass"></i>
            <h1 v-if="!!store.entity">{{store.entity.name}}</h1>
            <VideoDialog title="How to add metadata" video="HowToAddMetadata_Form">
                <i class="fa-solid fa-circle-question question-button"></i>
            </VideoDialog>
            <Button class="back-button" :flat @button-clicked="store.closeDocument()">
                <i class="fa-solid fa-xmark"></i>
            </Button>
        </header>
        <main class="metadata-sections">
            <MetadataSection v-for="key in Object.keys(store.schema)" :id="key" :label="store.sectionLabel(key)" :selectedSection="selectedSection" @select-section=selectSection(key)></MetadataSection>
        </main>
        <div class="button-row">
            <Button class="close-button" @button-clicked="importstore.openImport()">Import</Button>
            <Button class="close-button" @button-clicked="store.closeDocument()">Abort</Button>
            <Button class="save-metadata" @button-clicked="save" :disabled="!store.touched">Save</Button>
        </div>
    </div>
    <Toast></Toast>
    <MetadataImport></MetadataImport>
</dialog>