<dialog class="package-settings-modal" ref="modal">
    <div class="content" v-if="!store.loading.packageSettings && !!store.package">
        <header class="package-settings-header">
            <i class="fa-solid fa-file-lines"></i>
            <h1>{{store.package.name}}</h1>
            <nav class="settings-tabs">
                <ArchiveSettingsTab v-for="tab in store.TABS" v-bind="tab" :active="tab.id === store.activeTab" @change-tab="(tabId) => store.activeTab = tabId"></ArchiveSettingsTab>
            </nav>
            <Button :flat class="back-button" @button-clicked="store.closeSettings()">
                <i class="fa-solid fa-xmark"></i>
            </Button>
        </header>
        <section class="legal-tab" :class="{hidden: store.activeTab !== 'legal'}">
          <div class="introduction">
              Please consider the following legal requirements for archival and check the applicable boxes below.
          </div>
          <form class="package-settings">
              <fieldset class="settings-group terms-and-conditions">
                <legend>Terms & Conditions</legend>
                <div class="radio-option">
                  <input :disabled="store.settingsReadonly"
                  :ref="box => {if(!!box) box.checked = store.checkTerms}"
                  type="checkbox"
                  id="check-terms"
                  @input="event => store.checkTerms = !store.checkTerms">
                  <label for="check-terms">I have read and understood the <a href="https://lzv-bayern.de/mehr-information/f%C3%BCr-universit%C3%A4ten/daten%C3%BCbernahmevereinbarung" target="_blank" rel="noopener noreferrer">Data Submission Agreement</a> and request the processing of the submitted data in accordance with the options chosen above.</label>
                </div>
                <div class="radio-option">
                  <input :disabled="store.settingsReadonly"
                  :ref="box => {if(!!box) box.checked = store.checkDuration}"
                  type="checkbox"
                  id="check-duration"
                  @input="event => store.checkDuration = !store.checkDuration">
                  <label for="check-duration">I attest that the cost for the preservation is covered for a minimum preservation period of
                    <LabeledInput
                      class="duration-input"
                      :value="store.duration"
                      :disabled="(!store.checkDuration ? true : undefined) || store.settingsReadonly"
                      :placeholder="'yy'"
                      @input="value => store.duration = value"
                    ></LabeledInput>
                    years, starting with the successful archival of this package. I am aware that after the expiration of that time decisions about the further preservation of this package will be made by the institution named in the Data Submission Agreement
                  </label>
                  </div>
                <div class="radio-option">
                  <input :disabled="store.settingsReadonly"
                  :ref="box => {if(!!box) box.checked = store.checkDSGVO}"
                  type="checkbox"
                  id="check-dsgvo"
                  @input="event => store.checkDSGVO = !store.checkDSGVO">
                  <!-- TODO: Replace dummy link with path to DSGVO-->
                  <label for="check-dsgvo">I attest that all personal data in this package was processed in accordance following the <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679" target="_blank" rel="noopener noreferrer">EU General Data Protection Regulation</a>. For this purpose I have taken the following measures:</label>
                </div>
                <div class="dsgvo-options">
                  <div class="radio-option">
                    <input :disabled="store.settingsReadonly"
                    :ref="radio => {if (!!radio) radio.checked = store.personalData === radio.value}"
                    type="radio"
                    id="none-personal-data"
                    name="personal-data"
                    value="none"
                    :disabled="!store.checkDSGVO"
                    @input="event => store.personalData = event.currentTarget.value">
                    <label for="none-personal-data">All existing personal data in this package was removed</label>
                  </div>
                  <div class="radio-option">
                    <input :disabled="store.settingsReadonly"
                    :ref="radio => {if (!!radio) radio.checked = store.personalData === radio.value}"
                    type="radio"
                    id="anonymous-personal-data"
                    name="personal-data"
                    value="anonymous"
                    :disabled="!store.checkDSGVO"
                    @input="event => store.personalData = event.currentTarget.value">
                    <label for="anonymous-personal-data">All existing personal data in this package was anonymised using standard procedures</label>
                  </div>
                  <div class="radio-option">
                    <input :disabled="store.settingsReadonly"
                    :ref="radio => {if (!!radio) radio.checked = store.personalData === radio.value}"
                    type="radio"
                    id="consent-personal-data"
                    name="personal-data"
                    value="consent"
                    :disabled="!store.checkDSGVO"
                    @input="event => store.personalData = event.currentTarget.value">
                    <label for="consent-personal-data">All existing personal data in this package was labeled accordingly. The remaining personal data is integral for its research purpose (as stated in <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32016R0679" target="_blank" rel="noopener noreferrer">Article 89 of the EU General Data Protection Regulation</a>). Written consent to processing and archival of the data was obtained. The physical or digital storage location of the consent documents is linked in the metadata of the respective files</label>
                  </div>
                </div>
              </fieldset>
          </form>
        </section>
        <section class="review-tab" :class="{hidden: store.activeTab !== 'reviews'}">
          <div v-if="store.loading.reviews" class="introduction">
              Here will soon be reviews.
          </div>
          <template v-if="!store.reviewReadonly">
            <div class="add-comment">
              <LabeledInput
                :type="'long-text'"
                :value="store.currentComment"
                :id="'write-comment'"
                :label="'New Comment'"
                @input="(value) => store.currentComment = value"
              ></LabeledInput>
              <Button
                @button-clicked="store.addComment()"
                :disabled="store.currentComment === ''"
              >
                Add to review
              </Button>
            </div>
            <div class="current-review">
              <h2>Current Review</h2>
              <ul class="comment-list" v-if="store.currentReview?.comments?.length">
                <li v-for="comment in store.currentReview.comments"
                :class="{external: showAuthor(comment)}">
                  <div class="comment-text">{{comment.content}}</div>
                  <Button class="delete" :flat @button-clicked="store.deleteComment(comment.index)">
                      <i class="fa-solid fa-trash"></i>
                  </Button>
                  <div class="author" v-if="showAuthor(comment)">{{comment.owner}}</div>
                </li>
              </ul>
              <div v-else class="no-review">No comments yet. Please add a comment to start a new review.</div>
            </div>
          </template>
          <template v-else>
            <div
              v-if="!store.reviews.length"
              class="no-review">
              There are no reviews for this package yet.
            </div>
          </template>
          <div v-for="review in store.reviews"
          class="past-review">
            <h2>Review from {{formatRelativeDate(review.creation_date * 1000)}}</h2>
            <ul class="comment-list">
              <li v-for="comment in review.comments"
              :class="{external: showAuthor(comment)}">
                <div class="comment-text">{{comment.content}}</div>
                <div class="author" v-if="showAuthor(comment)">{{comment.owner}}</div>
              </li>
            </ul>
          </div>
        </section>
        <div v-if="pageContext === 'archive'" class="button-row">
            <Button class="close-button" @button-clicked="store.closeSettings()">Abort</Button>
            <Button class="save-metadata" :disabled="!store.readyToSaveSettings()" @button-clicked="save">Save</Button>
        </div>
        <div v-else class="button-row">
            <Button v-if="store.activeTab === 'reviews'"
            :disabled="!store.currentReview?.comments?.length"
            class="reject-button"
            @button-clicked="requestChanges()">
                <i class="fa-solid fa-xmark"></i>
                <div>Request changes</div>
            </Button>
            <Button class="close-button" @button-clicked="store.closeSettings()">Close</Button>
        </div>
    </div>
</dialog>