.import-document {
    display: inline-grid;
    grid-template-columns: max-content max-content auto;
    grid-template-rows: auto;
    grid-template-areas:
        "select icon name"
        "select icon size";
    justify-items: start;
    align-items: center;
    grid-gap: 0.3rem 1rem;

    border-bottom: 0.05rem solid #eeeeee;
    padding: 1rem;

    cursor:pointer
}

.import-document:hover {
    color: var(--primary-color);
}

.import-document.active {
    font-weight: 700;
    color: var(--primary-color);
}

.import-document .name {
    grid-area: name;
    line-break: anywhere;
}

.import-document .size {
    grid-area: size;
    align-self: start;

    color: #666666
}

.import-document .icon {
    grid-area: icon;

    font-size: 2rem;
}

.import-document .select {
    grid-area: select;
    align-self: stretch;
}