.package-header {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    border-bottom: 0.05rem solid #eee;
    padding: 1rem;
}

.package-header .back-button {
    flex: 0 0 0;
    font-size: 1.5rem;
    --rgb-button-color: var(--rgb-font-color);
    --button-color: var(--font-color);
    padding: 0.25rem 0.5rem;
}

.package-header .package-name {
    display: flex;
    gap:0.5rem;
    flex-wrap: wrap;

    flex: 1 0 0;
    font-size: 1.3rem;
    font-weight: 500;
    line-break: anywhere;
}

.package-name .icons {
    display: flex;
    align-items: center;
}

.icons .fa-chevron-right {
    font-size: 0.8rem;
}

.package-name .folder-name {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.package-header .side-button {
    display:flex;
    gap: 0.5rem;

    flex: 0 0 0;
}

