<div class="package-header">
    <Button class="back-button" :flat @button-clicked="$emit('back')">
        <i class="fa-solid fa-arrow-left"></i>
    </Button>
    <div class="package-name">
        {{store.package.name}}
        <template
            v-for="path in store.pathNames()"
        >
            <div class="icons">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="folder-name">{{path}}</div>
        </template>
    </div>
    <Button
    v-if="!editable"
    class="side-button"
    @button-clicked="store.openMetadata('package', store.package.id)">
        <i class="fa-solid fa-book-medical"></i>
        <div>Edit Metadata</div>
    </Button>
    <Button
    v-if="!editable && !archive"
    class="side-button"
    @button-clicked="overviewStore.openDetails()">
        <i class="fa-solid fa-pen-to-square"></i>
        <div>Edit project</div>
    </Button>
    <Button
    v-if="editable"
    class="side-button"
    @button-clicked="$emit('new-folder')">
        <i class="fa-solid fa-folder-plus"></i>
        <div>Add folder</div>
    </Button>
    <Button
    v-if="archive && archiveStore.selectedPackage.status === 'active'"
    class="side-button"
    @button-clicked="$emit('open-submit')">
        <i class="fa-solid fa-file-import"></i>
        <div>Submit package</div>
    </Button>
</div>