<div class="manual-upload">
    <input @change="selectFiles" id="file-upload" type="file" multiple />
    <label for="file-upload" class="custom-file-upload" @dragover="addFileProxy" @dragleave="removeFileProxy"
        @drop="dropFiles">

        <UploadFile v-for="file in store.displayFiles()" v-bind="file"></UploadFile>

        <UploadFile v-if="fileProxy" v-bind="fileProxy"></UploadFile>
        <div v-if="store.draggedFiles.length" class="add-by-drag">
            <div>+{{store.draggedFiles.length}} {{store.draggedFiles.length > 1 ? 'files': 'file'}}</div>
        </div>
        <div class="add-files">
            <i class="fa-solid fa-plus"></i>
        </div>
    </label>
    <div class="button-row">
        <Button
        class="start-upload"
        @button-clicked="$refs.uploadFiles.showModal()"
        :disabled="store.files.length < 1"
        >Start Upload</Button>
    </div>
    <dialog
    ref="uploadFiles"
    class="upload-dialog" 
    @close="store.failedUploads = []">
        <div>
            <h1>Upload Files</h1>
            <div v-if="store.loading.upload" class="loading"></div>
            <p class="text">{{dialogText}}</p>
            <form method="dialog">
                <Button class="close-button" :disabled="store.loading.upload" @button-clicked="closeDialog">Abort</Button>
                <Button :disabled="store.loading.upload" @button-clicked="startUpload">{{store.failedUploads.length ? 'Try Again': 'Yes'}}</Button>
            </form>
        </div>
    </dialog>
</div>
