<fieldset v-if="!!field.fields" class="field-group">
    <legend>{{localized(field.label)}}</legend> 
    <div v-if="field.tooltip" class="tooltip-container">
        <i class="fa-solid fa-circle-info" @click="toggle = !toggle"></i>
        <div v-show="toggle" class="tooltip-text">{{field.tooltip["en"]}}</div>
    </div>
    <div v-if="!!metadata?.length" class="field-instance" v-for="(instance, index) in metadata">
        <Button v-if="!store.readonly"
        :disabled="field.min === 1 && metadata.length === 1"
        class="remove remove-instance"
        :flat
        @button-clicked="metadata.splice(index,1)"
        @button-clicked="store.touched = true">
            <i class="fa-solid fa-trash"></i>
        </Button>
        <template v-for="subfield in field.fields">
            <template v-if="store.checkConditions(instance, subfield)">
                <MetadataField
                    :field="subfield"
                    :path="[...path, field.id, index]"
                ></MetadataField>
            </template>
        </template>
    </div>
    <Button v-if="(!field.max || field.max > (metadata?.length ?? 0)) && !store.readonly"
        class="add-instance"
        :disabled="!!field.max && metadata?.length >= field.max"
        @button-clicked="addField()"
    >
        <i class="fa-solid fa-plus"></i>
        <span>Add {{localized(field.label)}}</span>
    </Button>
    <div class="no-data" v-else-if="!metadata?.length && store.readonly">
        No data
    </div>
</fieldset>
<template v-else >
    <div class="removable-field" v-for="(instance, index) in metadata">
        <Button v-if="!(field.min === 1 && metadata.length <= 1) &&
                !(['monoselect', 'date'].includes(field.type)) && 
                !store.readonly"
        class="remove-field remove left"
        :flat
        @button-clicked="metadata.splice(index,1)"
        @button-clicked="store.touched = true">
            <i class="fa-solid fa-minus"></i>
        </Button>
        <LabeledInput
            :id="field.id + index"
            :label="field.label"
            :type="field.type"
            :tooltip="field.tooltip"
            :disabled="store.readonly"
            :options="field.options ? field.options : false"
            :value="metadata[index]"
            :invalid="!validate(metadata[index], field.type, false)"
            :placeholder="field.placeholder ?? ''"
            @input="(value) => update(value, index)"
            @input="store.touched = true"
        ></LabeledInput>
        <Button v-if="!(field.min === 1 && metadata.length <= 1) &&
            !(['monoselect', 'date'].includes(field.type)) &&
            !store.readonly"
        class="remove-field remove right"
        :flat
        @button-clicked="metadata.splice(index,1)"
        @button-clicked="store.touched = true">
            <i class="fa-solid fa-minus"></i>
        </Button>
    </div>
    <Button v-if="(!field.max || field.max > (metadata?.length ?? 0)) && !store.readonly"
        class="add-instance"
        :disabled="!!field.max && metadata?.length >= field.max"
        @button-clicked="addField()"
    >
        <i class="fa-solid fa-plus"></i>
        <span v-if="!metadata?.length">Add {{localized(field.label)}}</span>
    </Button>
</template>
