<div class="import-source">
    <div class="source-header" @click="store.activateSource(id)">
        <i v-if="!authenticated" class="fa-solid fa-lock"></i>
        <Button v-else v-if="!!store.remotePath.length" :flat class="back-button" @button-clicked="store.climbRemotePath()">
            <i class="fa-solid fa-arrow-left"></i>
        </Button>
        <header class="source-name">
            <h2 class="text">{{name}}</h2>
            <template v-if="store.activeSource === id"
            v-for="path in store.pathNames()"
            >
                <div class="icons">
                    <i class="fa-solid fa-chevron-right"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="folder-name">{{path}}</div>
            </template>
        </header>
        <Button v-if="authenticated" class="logout-button" @button-clicked="store.logout(id)">
            <div>log out</div>
        </Button>
    </div>
    <div v-if="store.activeSource === id" class="source-content">
        <div v-if="store.loading.content || store.loading.authentication" class="loading"></div>
        <template v-else>
            <form v-if="!authenticated && needsAuthentication" class="authenticate">
                <template v-if="authenticationType === store.AUTH_TYPES.password">
                    <LabeledInput
                        :id="id + '-username'"
                        :label="'Username'"
                        :placeholder="'Your ' + name + ' login name'"
                        :value="store.username"
                        :invalid="store.failedLogin"
                        @input="(value) => store.setUsername(value)"></LabeledInput>
                    <LabeledInput
                    :id="id + '-password'"
                    :label="'Password'"
                    :type="'password'"
                    :placeholder="'Your ' + name + ' password'"
                    :value="store.password"
                    :invalid="store.failedLogin"
                    @input="(value) => store.setPassword(value)"></LabeledInput>
                    <div v-if="store.failedLogin" class="error-text">Invalid username or password</div>
                </template>
                <template v-else-if="authenticationType === store.AUTH_TYPES.APIKey">
                    <LabeledInput
                        :id="id + 'APIKey'"
                        :label="'API Key'"
                        :placeholder="'Your API Key for ' + name"
                        :value="store.APIKey"
                        :invalid="store.failedLogin"
                        @input="(value) => store.setAPIKey(value)"></LabeledInput>
                    <div v-if="store.failedLogin" class="error-text">Invalid API key</div>
                </template>
                <Button @button-clicked="authenticate">Login</Button>
            </form>
            <template v-else>
                <div v-for="folder in store.getFolders()" class="import-folder" @click="store.openFolder(folder.id)">
                    <i class="fa-solid fa-folder icon"></i>
                    <div class="name">{{folder.name}}</div>
                    <!-- <div class="size">{{formatFilesize(folder.size)}}</div> -->
                    <!-- <div class="count">{{folder.count}} {{folder.count === 1 ? "content" : "contents"}}</div> -->
                </div>
                <ImportFile
                    v-for="document in store.documents"
                    :name="document.name"
                    :size="document.size"
                    :type="document.type"
                    :id="document.source_id"
                    :selected="document.selected"
                ></ImportFile>
            </template>
        </template>
    </div>
</div>