<div class="import-source">
    <div class="source-header" @click="store.activateSource(id)">
        <i v-if="!authenticated" class="fa-solid fa-lock"></i>
        <Button v-else v-if="!!store.remotePath.length" :flat class="back-button" @button-clicked="store.climbRemotePath()">
            <i class="fa-solid fa-arrow-left"></i>
        </Button>
        <header class="source-name">
            <h2 class="text">{{name}}</h2>
            <template v-else
            v-for="path in store.pathNames()"
            >
            <div class="icons">
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="folder-name">{{path}}</div>
            </template>
        </header>
    </div>
    <div v-if="store.activeSource === id" class="source-content">
        <div v-if="store.loading.content || store.loading.authentication" class="loading"></div>
        <template v-else>
            <form v-if="!authenticated && needsAuthentication" class="authenticate">
                <LabeledInput
                    :id="id + '-username'"
                    :label="'Username'"
                    :placeholder="'Your ' + name + ' login name'"
                    :value="store.username"
                    @input="(value) => store.username = value"></LabeledInput>
                <LabeledInput
                    :id="id + '-password'"
                    :label="'Password'"
                    :type="'password'"
                    :placeholder="'Your ' + name + ' password'"
                    :value="store.password"
                    @input="(value) => store.password = value"></LabeledInput>
                <Button @button-clicked="authenticate">Login</Button>
            </form>
            <div v-else class="import-content">
                <div v-for="folder in store.getFolders()" class="import-folder" @click="store.openFolder(folder.id)">
                    <i class="fa-solid fa-folder icon"></i>
                    <div class="name">{{folder.name}}</div>
                    <!-- <div class="size">{{formatFilesize(folder.size)}}</div> -->
                    <!-- <div class="count">{{folder.count}} {{folder.count === 1 ? "content" : "contents"}}</div> -->
                </div>
                <ImportFile
                    v-for="document in store.documents"
                    :name="document.name"
                    :size="document.size"
                    :type="document.type"
                    :id="document.source_id"
                    :selected="document.selected"
                ></ImportFile>
            </div>
        </template>
    </div>
</div>