<App>
    <main class="archive-page">
        <aside class="left-sidebar">
            <template v-if="!store.loading.packageList">
                <template v-for="status in STATUS">
                    <header class="package-status-header">
                        <i class="icon fa-solid" :class="status.icon"></i>
                        <h2 class="text">{{status.name}}</h2>
                        <VideoDialog v-if="status.id === 'active'" title="How to archive data" video="HowToArchive_Active">
                            <span class="tutorial-trigger">How to archive?</span>
                        </VideoDialog>
                        <VideoDialog v-if="status.id === 'rework'" title="How to revise reviewed projects" video="HowToArchive_Rework">
                            <span class="tutorial-trigger">How to revise?</span>
                        </VideoDialog>
                    </header>
                    <ArchiveListItem v-if="!!store.packagesWithStatus(status.id).length"
                        v-for="pkg in store.packagesWithStatus(status.id)"
                        v-bind="pkg"
                        @open-metadata="metadataStore.openMetadata('package', pkg.id, store.metadataReadonly(pkg))"
                        @open-settings="settingsStore.openSettings(pkg, 'access', store.settingsReadonly(pkg), true)"
			@download="goToDownload(pkg.id)"
                    ></ArchiveListItem>
                    <div v-else class="no-data-placeholder">No packages with status "{{status.name}}"</div>
                </template>
            </template>
            <div class="loading" v-else></div>
        </aside>
        <PackageContent
            v-if="!!store.selectedPackage"
            @back="store.climbPackagePath()"
            @metadata="metadataStore.openMetadata($event.type, $event.id, store.metadataReadonly(store.selectedPackage))">
            <Button
            v-if="['rework'].includes(store.selectedPackage.status)"
            class="side-button edit-button"
            @button-clicked="store.openDetails()">
                <i class="fa-solid fa-pen-to-square"></i>
                <div>Edit project</div>
            </Button>
            <Button
            v-if="['active', 'rework'].includes(store.selectedPackage.status)"
            class="side-button"
            @button-clicked="store.requestReview()">
                <i class="fa-solid fa-file-import"></i>
                <div>Submit package</div>
            </Button>
        </PackageContent>
        <Metadata></Metadata>
        <ArchivePackageSettings></ArchivePackageSettings>
    </main>
</App>
