.archive-page {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: minmax(20rem, 1fr) 3fr;
}

.left-sidebar {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: start;
    overflow-y: auto;

    padding-bottom: 1rem;
    border-right: 0.2rem solid #eee;
}

.left-sidebar .package-list-item {
    border-bottom: 0.05rem solid #eee;
}

.left-sidebar .add-package {
    
    padding: 1rem 1rem 0 1rem;
    display: flex;

    justify-content: flex-end;
}

.add-package Button {
    display: flex;
    gap: 0.5rem;
}

.loading {
    width: 100%;
    height: 1rem;
    background: linear-gradient(to right, var(--primary-color), transparent 100%);
    background-size: 200%;
    animation: gradient 2s ease-in infinite;
}

@keyframes gradient {
	0% {
		background-position: 300% 50%;
	}
	50% {
		background-position: 200% 50%;
	}
    100% {
		background-position: 300% 50%;
	}

}

.package-status-header {
    display:grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    gap: 1rem;

    padding: 1.5rem 1rem 0 1rem;
    /* border-bottom: 0.125rem solid rgba(var(--rgb-font-color), 0.1); */
    color: var(--secondary-color)
}

.package-status-header .icon{
    font-size: 1.5rem;
}

.package-status-header .text{
    font-size: 1.1rem;
    margin: 0;
}

.package-status-header .tutorial-trigger{
    font-size: 1rem;
    margin: 0;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

.no-data-placeholder {
    justify-self: start;
    padding: 1rem 1rem 0 1rem;
    
    font-size: 1.3rem;
    color: #777;
    font-weight: 700;
}

.package-content {
    min-height: 0;
    min-width: 0;
    padding: 0 1rem 1rem 1rem;

    .edit-button {
        --rgb-button-color: var(--rgb-primary-color);
        --button-color: var(--primary-color);
    }
}

.right-sidebar {
    display:grid;
    grid-template-rows: auto max-content;
    gap:0.25rem;

    padding: 1rem;
}

.right-sidebar Button{
    display:grid;
    grid-template-columns: max-content auto;
    gap: 0.5rem;
}