.file {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
        "icon name action"
        "icon size action"
        "icon error action";
    place-items: center;
    place-content: center;

    border: 0.1rem solid #aaaaaa;
    border-radius: 1rem;
    background-color: var(--on-primary-color);


}

.file .icon {
    grid-area: icon;

    padding: 0.5rem;

    font-size: 3rem;
    color: var(--primary-color)
}

.file .name {
    grid-area: name;

    padding: 0.25rem;

    font-weight: 700;
    max-width: 100%;

    color: #000000;
    overflow-x: hidden;
    overflow-wrap: anywhere;
}

.file .size {
    grid-area: size;

    padding: 0.25rem;

    color: #777777;
}

.file .error {
    grid-area: error;

    padding: 0.25rem;

    color: #F00;
}

.file .overlay {
    display: flex;
    grid-column: 1/ span 3;
    grid-row: 1 / span 3;
    align-self: stretch;
    justify-self: stretch;

    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: 1rem;
    backdrop-filter: blur(0.1rem) brightness(0.8);
    transition: opacity 0.4s;

    opacity: 0;

}

.file .overlay:hover {
    opacity: 1;
}

.file .overlay .delete-file {
    --button-color: var(--error);
    --rgb-button-color: var(--rgb-error);
}